[submodule "src/f1fifth_system"]
	path = src/f1fifth_system
	url = git@github.com:f1tenth/f1tenth_system.git
[submodule "src/fixposition_driver"]
	path = src/fixposition_driver
	url = git@github.com:fixposition/fixposition_driver.git
